//
   Created by Santanu on 12-07-2015.

extends layout

block content
   .thumbnailstyle
      .thumbnail.div.col-md-offset-5.col-md-3(ng-app="login",ng-controller="loginControler")
         fieldset

            input.thumbnail.form-control(type="text", ng-model="txtUserName",id="txtUserName",  placeholder ="Enter User Name...")

            input.thumbnail.form-control(type="password", ng-model="txtPassword",id="txtPassword",  placeholder ="Enter Your Password ...")
            div.row
               .row.col-md-6
               input.btn.btn-success(type="button" value="Login" id="btnLogin" ng-click="CustLogin()")


