extends layout
block content
    .panel.panel-info
      .panel-heading
        h3.panel-title #{title}
    .thumbnail.div.col-md-offset-1.col-md-0
      table.table.table-striped(ng-app='orderhistory', ng-controller='orderhistorycontroller', border='1', cellpadding='7', cellspacing='7')
        thead
          tr
            th(width="10%") Order Id
            th(width="10%") Customer Name
            th(width="10%") Customer Email
            th(width="10%") Order Type
            th(width="10%") Orders 
            th(width="10%") Order Date
            th(width="10%") Order Status
            th(width="10%") Payment

        tbody
          tr(ng-repeat='Order in Orders | filter:searchText')
            td {{ Order.id }}
            td {{ Order.custname }}
            td {{ Order.custemail }}
            td {{ Order.ordertype }}
            td {{ Order.noorder }}
            td {{ Order.orderdate }}
            td {{ Order.orderstatus }}
            td {{ Order.payment }}
