extends layout
block content
    .panel.panel-info
      .panel-heading
        h3.panel-title #{title}
    .thumbnail.div.col-md-offset-1.col-md-0
      table.table.table-striped( ng-app='payment', ng-controller='paymentcontroller', border='1', cellpadding='7', cellspacing='7')
        thead
          tr
            th(width="10%") Order Id
            th(width="10%") Customer Name
            th(width="10%") Order Status
            th(width="10%") Payment
            td(width="10%") 
        tbody
          tr(ng-repeat='Order in Orders')
            td {{ Order.id }}
            td {{ Order.custname }}
            td 
              select.thumbnail.form-control(ng-model="txtOrderStatus",id="txtOrderStatus", ng-options="type.type for type in OrderStatus")

            td
               select#txtPaymentStatus.thumbnail.form-control(ng-model='txtPaymentStatus', ng-options='type.type for type in PaymentStatus')
                |   {{ txtPaymentStatus }}
            td
              a.btn.btn-small.btn-primary(ng-click='payment(Order.id)', ng-disabled='isEnable') payment
